<!-- forgotpassword-partial.html -->
<md-card class="commonContentShell mainIntroNavSection md-whiteframe-12dp" layout="column" layout="start start">
    <section class="companyLogoContainer" layout="row" layout-align="center center">
        <img src="duoworldbanner.png" />
    </section>
    <section class="navOptionsContainer" layout="row" layout="start start">
        <div class="createCompanyIntroSection" flex layout="column" layout-align="start center">
            <span class="navText">If you are planning to patner with us and manage your business transaction's online, start by registering your company with us.</span>
            <md-button ng-click="navigateCreateCompanyProcess()" class="md-primary">
                <span class="loginBtnLabel">create a company</span>
            </md-button>
        </div>
        <div class="joinCompanyIntroSection" flex layout="column" layout-align="start center">
            <span class="navText">If you are planning to join an existing company as a user in 12thDoor, start by requesting an invite from the company administrator.</span>
            <md-button ng-click="navigateJoinCompanyProcess()" class="md-primary">
                <span class="loginBtnLabel">join a company</span>
            </md-button>
        </div>
    </section>
</md-card>
